#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  ion-toolbar {
    font-size: 1.8em;
    font-weight: bold;
    color: #fff !important;
  }
  
  requiredField {
    color: #ec1b2e !important;
  }
  
  .itemFormReg {
    --inner-border-width: 0px !important;
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container img {
    max-width: 50em;
  }
  
  #container ion-card {
    background: #ec1b2e;
  }
  
  ion-item {
    color: #000;
  }
  
  ion-loading {
    --background: #fff !important;
  }
  
  .txtTitle {
    color: #fff !important;
    font-weight: bold;
    font-size: 2em;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }